body {
  background: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  font-size: var(--vscode-editor-font-size) !important;
  font-weight: var(--vscode-editor-font-weight) !important;
  padding: 0px;
}
body * :focus {
  outline-color: var(--vscode-focusBorder);
}

h1 {
  font-size: calc(var(--vscode-editor-font-size) + 8px);
}
h2 {
  font-size: calc(var(--vscode-editor-font-size) + 6px);
}
h3 {
  font-size: calc(var(--vscode-editor-font-size) + 4px);
}
h4 {
  font-size: calc(var(--vscode-editor-font-size) + 2px);
}

.row {
  margin: 0px;
}

#snapshot-input {
  width: calc(100% - 8px);
  display: block;
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  height: 80px;
  border: none;
  padding: 6px;
  font-size: 13px;
}

#snapshot-input:focus {
  outline-color: var(--vscode-focusBorder);
}

.title-list-wrapper {
  background: var(--vscode-editorWidget-background);
  color: var(--vscode-editorWidget-foreground);
  font-size: 12px;
  padding: 0px;
}

.title-list-title {
  font-weight: bold;
  padding: 4px 2px 4px 8px;
  background-color: var(--vscode-panelSectionHeader-background);
}

.title-list-wrapper ul {
  list-style-type: none;
  padding: 0px;
}

.title-list-wrapper li {
  padding: 4px 2px 4px 8px;
  cursor: pointer;
}

.title-list-wrapper li:hover {
  background: var(--vscode-list-hoverBackground);
}

.title-list-wrapper .selected {
  background: var(--vscode-list-activeSelectionBackground);
}

button,
button:focus {
  outline: none;
  border: 1px solid transparent;
}

button:active {
  outline: none;
  border: 1px solid grey;
}

.instruction-btn {
  background: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  margin-top: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 150px;
  margin-right: 30px;
}
.button-container {
  display: inline;
}
header {
  background: #333;
  position: fixed;
  top: 0px;
  height: 100px;
  z-index: 100;
  padding: 5px 10px;
  box-sizing: border-box;
  width: calc(100% - 40px);
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
}
.toolbar-wrapper {
  list-style-type: none;
  padding-left: 0px;
  float: right;
  text-align: center;
  background-color: #42424285;
}
.toolbar-container {
  position: absolute;
  right: 35px;
  z-index: 400;
  /* display:none; */
}

.cell-wrapper:hover .toolbar-container {
  display: block;
}
#notebook-container {
  margin-top: 80px;
}

/* .toolbar-wrapper {
	display: none;
} */

.cell-wrapper:hover {
  background: rgba(128, 128, 128, 0.07);
}

.wrapper-button:hover {
  background: rgba(90, 93, 94, 0.31);
}

.wrapper-button.is-edit {
  color: rgb(168, 93, 7);
}

/* .cell-wrapper:hover .toolbar-wrapper {
	display: block;
	position: fixed;
    top: 80px;
    background:var(--vscode-editor-background);
    width: 100%;
    padding: 10px;
    z-index: 1000;
} */

.md-cell-editor {
  border: 1px solid #ccc;
  margin: 0px 0px 10px 0px;
}
.hide {
  display: none;
}

/* .toggle-button::after{
	content: "View Diff"
} */
.toggle-button::before {
  font-family: "Font Awesome 5 Free";
  content: "\f126";
  font-weight: 700;
}
/* .revert-button::after{
	content: "Open"
} */
.revert-button::before {
  font-family: "Font Awesome 5 Free";
  content: "\f07c";
  font-weight: 400;
}
/* .toggle-button.isdiff::after{
	content: "View Code"
} */
.toggle-button.isdiff::before {
  font-family: "Font Awesome 5 Free";
  content: "\f121";
  font-weight: 700;
}
.wrapper-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 3px 5px;
  border-radius: 5px;
}
.wrapper-progress {
  width: 100%;
  margin: auto;
}
.wrapper-button::before {
  font-weight: 600;
  font-size: 10px;
  text-align: center;
}
.progress {
  height: 0.2rem !important;
  background-color: var(--vscode-badge-background);
}
.progress-bar {
  transition: none;
}
.wrapper-button::after {
  font-size: 16px;
}

.wrapper-button.active {
  color: #fccf00;
}

.wrapper-button.stop {
  color: #5e5e5e;
}

.delete-button::before {
  font-family: "Font Awesome 5 Free";
  content: "\f2ed";
}

.moveup-button::before {
  font-family: "Font Awesome 5 Free";
  content: "\f062";
}

.movedown-button::before {
  font-family: "Font Awesome 5 Free";
  content: "\f063";
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.cell-wrapper {
  margin-top: 10px;
  padding: 5px 15px;
}
.cell-wrapper:focus-within {
  outline-color: var(--vscode-panel-border);
}

iframe {
  width: 100%;
  border: solid 1px var(--vscode-panel-border);
}
.code-cell-wrapper {
  outline: solid 1px var(--vscode-panel-border);
  width: 100%;
}

.code-cell-wrapper:focus-within {
  outline: solid 1px var(--vscode-focusBorder);
}

.md-cell-preview {
  padding-top: 10px;
  padding-bottom: 10px;
}

.notebook-toolbar-btn {
  font-size: 10px;
}
.notebook-toolbar-btn > button {
  font-size: 10px;
}

.notebook-toolbar-btn > div > button {
  font-size: 10px;
}

.myInlineDecoration {
  background-color: rgba(216, 241, 169, 0.25);
}

.myLineDecoration {
  background: #4e710c;
  width: 5px !important;
  margin-left: 3px;
}

.mdwrapper {
  padding: 20px 10px;
  margin-bottom: 100px;
}
.selectedwrapper {
  background-color: var(--vscode-settings-focusedRowBackground);
  padding: 20px 10px;
  outline: 1px solid var(--vscode-panel-border);
  margin-bottom: 100px;
}

.selectedwrapper:hover {
  background-color: var(--vscode-settings-focusedRowBackground);
}

/* .selectedwrapper::before{
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgb(76, 169, 255);
    background-color: rgb(76, 169, 255);
    height: calc(100% - 2px);
    width: 8px;
    opacity: 0;
    transition: opacity .15s ease-in;
} */
.mdlist-wrapper {
  overflow-y: scroll;
  height: 80vh;
}

.preview-cell-wrapper {
  margin-top: 20px;
}

.edit-in-progress {
  background-color: #222;
  width: 100%;
  height: 100%;
  text-align: center;
}

.output-wrapper {
	background: white;
	height:500px;
}

.input-box-wrapper {
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 500;
  background-color: var(--vscode-editor-background);
  border-top: 1px solid var(--vscode-panel-border);
  padding: 5px 10px;
  color: var(--vscode-foreground);
}

.pane-title {
  display: inline;
  font-weight: bold;
  margin-left: 5px;
}
.pane-content {
  padding-top: 5px;
}

.notebook-container {
  padding: 20px;
  padding-bottom: 50px;
}

.start-container {
  padding: 20px;
}

.code-cell {
  padding: 0px;
}

.dropdown-codeview {
  background-color: transparent !important;
  padding: 0px 0px;
  border: 0px;
  vertical-align: baseline;
  border-radius: 5px;
  color: var(--vscode-editor-foreground) !important;
}

.dropdown-codeview:hover {
  background: rgba(90, 93, 94, 0.31);
}
.dropdown-codeview:focus {
  border: 0px;
  box-shadow: none;
}

.dropdown-codeview:active {
  background-color: rgba(90, 93, 94, 0.31) !important;
  border: 0px !important;
  color: var(--vscode-editor-foreground) !important;
}
.dropdown-item {
  border: 0px !important;
  color: var(--vscode-editor-foreground) !important;
  font-size: 12px;
}
.dropdown-item:hover {
  background-color: rgba(90, 93, 94, 0.31) !important;
  border: 0px !important;
  color: var(--vscode-editor-foreground) !important;
}

.dropdown-menu {
  background-color: var(--vscode-activityBar-background);
  min-width: 0rem !important;
}

.wrapper-dropdown {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.experiment-container {
  height: 80vh;
}

.experiment-container > iframe {
  height: 100%;
}

.view-btn {
  font-size: 10px;
}

.condition-btn-container {
  display: inline;
  margin-left: 20px;
}
