:root {
	--cellbg: #252526;
	--btncolor: rgb(197,197,197);
}
body{
	background: var(--vscode-editor-background);
	color: var(--vscode-editor-foreground);
	font-size: var(--vscode-editor-font-size)!important;
	font-weight: var(--vscode-editor-font-weight)!important;
}

h1{
	font-size: calc(var(--vscode-editor-font-size) + 8px);
}
h2{
	font-size: calc(var(--vscode-editor-font-size) + 6px);
}
h3{
	font-size: calc(var(--vscode-editor-font-size) + 4px);
}
h4{
	font-size: calc(var(--vscode-editor-font-size) + 2px);
}

.row{
	margin: 0px;
}

#snapshot-input {
	width: calc(100% - 8px);
	display: block;
	background-color: var(--cellbg);
	color: #eee;
	height: 40px;
	outline: solid 1px #37373d;
}

.title-list-wrapper{
	background: #222;
	color: #eee;
	font-size: 12px;
	padding: 0px;
}

.title-list-title {
	font-weight: bold;
	padding: 4px 2px 4px 8px;
}

.title-list-wrapper ul {
	list-style-type: none;
	padding: 0px;
}

.title-list-wrapper li {
	padding: 4px 2px 4px 8px;
}

.title-list-wrapper li:hover {
	background:#333;
}

.title-list-wrapper .selected {
	background: #444;
}

button,
button:focus {
	outline: none;
	border: 1px solid transparent;
}

button:active {
	outline: none;
	border: 1px solid grey;
}

#snapshot-btn {
	background: transparent;
	color: #4e94ce;
	margin-top: 4px;
	display: flex;
}
header {
	background: #333;
	position: fixed;
	top: 0px;
	height: 100px;
	z-index: 100;
	padding: 5px 10px;
	box-sizing: border-box;
	width: calc(100% - 40px);
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
}
.toolbar-wrapper {
	margin-top: 5px;
	display:inline-flex;
	list-style-type: none;
	margin-bottom: 5px;
	background-color: rgb(30, 30, 30);
	border: 1px solid rgba(128,128,128,0.35);
	padding-left:0px;
	float:right;
}
#notebook-container {
	margin-top: 80px;
}

/* .toolbar-wrapper {
	display: none;
} */

.cell-wrapper:hover {
	background: #222;
}

.wrapper-button:hover {
	background: rgba(90, 93, 94, 0.31);
}

/* .cell-wrapper:hover .toolbar-wrapper {
	display: block;
	position: fixed;
    top: 80px;
    background:var(--vscode-editor-background);
    width: 100%;
    padding: 10px;
    z-index: 1000;
} */

.md-cell-editor {
	border: 1px solid #ccc;
	margin: 0px 0px 10px 0px;
}
.hide {
	display: none;
}

/* .toggle-button::after{
	content: "View Diff"
} */
.toggle-button::before {
	font-family: "Font Awesome 5 Free";
	content: "\f126";
	font-weight: 700;
}
/* .revert-button::after{
	content: "Open"
} */
.revert-button::before {
	font-family: "Font Awesome 5 Free";
	content: "\f07c";	
	font-weight: 400;
}
/* .toggle-button.isdiff::after{
	content: "View Code"
} */
.toggle-button.isdiff::before {
	font-family: "Font Awesome 5 Free";
	content: "\f121";
	font-weight: 700;
}
.wrapper-button {
	display: flex;
    align-items: center;
    justify-content: center;
	border-radius: 5px;
	width: 16px;
	height: 16px;
	margin: 5px;
}

.wrapper-button::before {
	font-weight: 600;
	font-size: 10px;
	text-align: center;
}

.wrapper-button::after {
	font-size:16px;
}
.toggle-button {
	color:var(--btncolor);
}
.revert-button{
	color:var(--btncolor);
}
.delete-button::before {
	font-family: "Font Awesome 5 Free";
	content: "\f2ed";
}

/* .delete-button::after{
	content: "Delete"
} */

.delete-button {
	color: var(--btncolor);
}

.moveup-button {
	color:var(--btncolor);
}
/* .moveup-button::after{
	content: "Move Up"
} */

.moveup-button::before {
	font-family: "Font Awesome 5 Free";
	content: "\f062";
}

.movedown-button {
	color:var(--btncolor);
}
/* .movedown-button::after{
	content: "Move Down"
} */
.movedown-button::before {
	font-family: "Font Awesome 5 Free";
	content: "\f063";
}

.markdown-body {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
	padding: 45px;
}

@media (max-width: 767px) {
	.markdown-body {
		padding: 15px;
	}
}

.cell-wrapper {
	margin-top: 10px;
	padding: 5px;
	border-left:3px solid #222;
}
.cell-wrapper:focus-within{
	border-left:3px solid rgb(0, 127, 212);
}

iframe {
	width: 100%;
	border: 1px solid #37373d;
}
.code-cell-wrapper {
	outline: solid 1px #37373d;
}

.code-cell-wrapper:focus-within {
	outline: solid 1px rgb(0, 127, 212);
}

.md-cell-preview {
	padding-top: 10px;
	padding-bottom: 10px;
}

#dropdown-item-button{
	font-size: 10px;
}