#snapshot-input {
	width: calc(100% - 8px);
	display: block;
	background-color: transparent;
	color: #eee;
	height: 40px;
	border: 2px solid #777;
}

button,
button:focus {
	outline: none;
	border: 1px solid transparent;
}

button:active {
	outline: none;
	border: 1px solid grey;
}

#snapshot-btn {
	background: transparent;
	color: #4e94ce;
}
header {
	background: #333;
	position: fixed;
	top: 0px;
	height: 80px;
	z-index: 100;
	padding: 5px 10px;
	box-sizing: border-box;
	width: calc(100% - 40px);
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
}
#notebook-container {
	margin-top: 60px;
}
.code-cell {
	border: 1px solid #ccc;
	margin: 0px 0px 10px 0px;
}
.diff-cell {
	border: 1px solid #ccc;
	margin: 0px 0px 10px 0px;
}

.cell-wrapper:hover {
	transition: all 0.5s ease-in-out;
	background: #222;
}

.cell-wrapper:hover .wrapper-button {
	background: #333;
}

.md-cell-editor {
	border: 1px solid #ccc;
	margin: 0px 0px 10px 0px;
}
.hide {
	display: none;
}
.toggle-button::after {
	font-family: "Font Awesome 5 Free";
	content: "\f126";
}

.toggle-button.isdiff::after {
	font-family: "Font Awesome 5 Free";
	content: "\f121";
}
.wrapper-button {
	border-radius: 4px;
	padding: 5px;
	width: 30px;
	background: #222;
	font-weight: 700;
	margin-right: 5px;
}
.toggle-button {
	color: #ee9d28;
}
.delete-button::after {
	font-family: "Font Awesome 5 Free";
	content: "\f2ed";
}

.delete-button {
	color: #8f2d2d;
}

.moveup-button {
	color: #4e94ce;
}

.moveup-button::after {
	font-family: "Font Awesome 5 Free";
	content: "\f062";
}

.movedown-button {
	color: #4e94ce;
}
.movedown-button::after {
	font-family: "Font Awesome 5 Free";
	content: "\f063";
}

.markdown-body {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
	padding: 45px;
}

@media (max-width: 767px) {
	.markdown-body {
		padding: 15px;
	}
}

.cell-wrapper {
	margin-top: 10px;
	padding: 5px;
}

iframe {
	width: 100%;
	border: 1px solid #aaa;
}
